<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Research Load Accreditation System</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'styles.css' %}" type="text/css">
</head>
<body>
  <div class="navbar">
    {% block navbar %}
      <p>Welcome, {{ user.get_name }}!</p>
      <a href="{% url 'index' %}">Home</a>
      <a href="{% url 'applications' %}">Applications</a>
      <a href="{% url 'faculty-detail' %}">Your Profile</a>         
      <a href="{% url 'logout'%}?next={{request.path}}">Logout</a>
      {% if user.get_access_level == 'Administrator' %}
        <p>Administrator Options:</p>
        <a href="{% url 'admin-faculty' %}">Faculty Options</a>
        <a href="{% url 'admin-applications' %}">RLC Options</a>
      {% elif user.get_access_level == 'Approving Body - Department' or user.get_access_level == 'Approving Body - College'%}
        <p>Approving Options:</p>
        <a href="{% url 'check-pending-rlc' %}">Check Pending RLC</a>
        <a href="{% url 'check-approved-rlc' %}">Check Approved RLC</a>
      {% endif %}
    {% endblock %}
  </div>
  <div class="body">{% block content %}{% endblock %}</div>
</body>
</html>
