{% extends "base_generic.html" %}

{% load widget_tweaks %}
{% load templatehelpers %}

{% block content %}
  <h1 class=head>Application List</h1>
      <form method="get">
        <div class="filter">
          <h4 style="margin-top: 0">Filter</h4>
          <div class="row">
            <div class="form-group col-sm-4 col-md-3">
              {{ filter.form.semester_applicable.label_tag }}
              {% render_field filter.form.semester_applicable class="form-control" %}
            </div>
            <div class="form-group col-sm-4 col-md-3">
              {{ filter.form.schoolyear.label_tag }}
              {% render_field filter.form.schoolyear class="form-control" %}
            </div>
            <div class="form-group col-sm-4 col-md-6">
              {{ filter.form.status.label_tag }}
              {% render_field filter.form.status class="form-control" %}
            </div>
          </div>
          <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-search"></span> Search
          </button>
        </div>
      </form>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Semester</th>
          <th>Schoolyear</th>
          <th>Units</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {% for app in page %}
          <tr>
            <td><a href="{{ app.get_absolute_url }}"> {{ app.semester_applicable }}</a></td>            
            <td>{{ app.schoolyear }}</td>
            <td>{{ app.units }}</td>
            <td>{{ app.status }}</td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="5">No Entries.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="pagination">
      <span class="step-links">
          {% if page.has_previous %}
              <a href="{% helpers 1 'page' request.GET.urlencode %}">&laquo; first</a>
              <a href="{% helpers page.previous_page_number 'page' request.GET.urlencode %}">previous</a>
          {% endif %}

          <span class="current">
              Page {{ page.number }} of {{ page.paginator.num_pages }}.
          </span>

          {% if page.has_next %}
              <a href="{% helpers page.next_page_number 'page' request.GET.urlencode %}">next</a>
              <a href="{% helpers page.paginator.num_pages 'page' request.GET.urlencode %}">last &raquo;</a>
          {% endif %}
      </span>
    </div>
  {% if count == 0 %}
    <a href="{% url 'add-application' %}" class="btn btn-primary">Add new RLC</a>
  {% endif %}
{% endblock %}
